//-
//- CTA mixin
mixin cta(title, info, img, subtitle, btnLabel, btnLink = '#', infoAlign = 'middle', textAlign = 'left', imagePos = 'left')
  div(class="cta cta--thumbnail-"+imagePos+" cta--align--"+infoAlign)
    .cta__inner
      .cta__main.row.gap--2xl
        if img
          .cta__thumbnail.col--6
            img(src=img alt="")
        if img
          div(class="cta__content col--6 cta__content--"+textAlign)
        else
          div(class="cta__content cta__content--"+textAlign)
          .cta__header
            h2.cta__title.text--3xl= title
            if subtitle
              h3.cta__subtitle.text--xl= subtitle

          .cta__body
            p= info

          if btnLabel && btnLink
            .cta__action
              +button-link(button, btnLink)
            

//-
//- section CTA mixin
mixin cta-section(title, info, img, subtitle, btnLabel, btnLink = '#', space='md', bgColor='primary', container='lg', infoAlign='middle', textAlign='left', imagePos='left')
  div(class="section space--"+space+" bg--"+bgColor)
    .section__inner
      div(class="container container--"+container)
        .section__main
          +cta(subtitle, button, infoAlign, textAlign, imagePos, showButton)
