
extends ../../includes/layout

block vars
  - var pageTitle      = 'CTA Default - Demo Static Components';
  - var pageName       = 'cta';
  - var bodyClass      = 'p-cta';
  - var subpath        = true;

//-
//- Render buttons
//-

block main
  .container.container--xl
    h1 CTA Default
    br
    br