
extends ../../includes/layout

block vars
  - var pageTitle      = 'Button - Demo Static Components';
  - var pageName       = 'button';
  - var bodyClass      = 'p-button';
  - var subpath        = true;

block main
  h1 Button 