//- Include all mixins
include ../../../src/pug/mixins

block vars
  - var pageTitle     = 'Demo Static Component';
  - var pageName      = 'home';
  - var bodyClass     = 'home';

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=pageTitle
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    link(rel="icon", href="favicon.png", type="image/x-icon", sizes="16x16")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  
    //- Additional styles
    block styles

    link(rel="stylesheet", href="css/main.css")

    //- Additional scripts
    block head_scripts

  body(class=bodyClass)
    .d-menu
      .d-menu__trigger
        button.d-menu__button(type="button")
          i.d-menu__button__icon
            img(src="assets/icon__menu.svg" alt="Menu")
          strong.d-menu__button__label Menu

      .d-menu__content
        .d-menu__content__inner
          .d-menu__close
            button(type="button")
              img(src="assets/icon__close.svg" alt="Close")

          .d-menu__content__main
            ul

    
    main.main
      //-
      //- Site content
      //-
      block main

    script(src='js/main.js')
