
extends ../../includes/layout

block vars
  - var pageTitle      = 'Title Style 1 - Demo Static Components';
  - var pageName       = 'title';
  - var bodyClass      = 'p-title';
  - var subpath        = true;

block main
  .container.container--md
    h1 Title Style 1
    br
    br

    h2.title.title--2xs.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--xs.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--sm.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--md.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--lg.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--xl.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br
    h2.title.title--2xl.title--style1
      span.title__deco
        span
      span.title__content Lorem Ipsum Dolor Sit Amet
    +text-sample-short 
    br
    br