
extends ../includes/layout

block vars
  - var pageTitle      = 'Alert - Demo Static Components';
  - var pageName       = 'alert';
  - var bodyClass      = 'alert';

block main
  .container.container--md 
    h2 Alert
