
extends ../includes/layout

block vars
  - var pageTitle      = 'Button - Demo Static Components';
  - var pageName       = 'button';
  - var bodyClass      = 'p-button';

block main
  .container.container--md 
    h2 Button
