
extends ../includes/layout

block vars
  - var pageTitle      = 'Layout - Demo Static Components';
  - var pageName       = 'layout';
  - var bodyClass      = 'layout';

block main
  .container.container--md 
    h2 Layout
