
extends ../includes/layout

block vars
  - var pageTitle      = 'Title - Demo Static Components';
  - var pageName       = 'title';
  - var bodyClass      = 'p-title';

block main
  .container.container--md 
    h2 Title
