
extends ../../includes/layout

block vars 
  - var pageTitle      = 'Layout - Container | Demo Static Components';
  - var pageName       = 'layout';
  - var bodyClass      = 'layout';
  - var subpath        = true;

block main
  .container.container--md
    h2 .container.container--md

    .d-block.bg--primary.text--white
      +text-sample 
  br
  br
  br
  .container--fluid-left.container--md
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container--fluid-right.container--md
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container.container--lg
    h2 .container.container--lg

    .d-block.bg--primary.text--white
      +text-sample
  br
  br
  br
  .container--fluid-left.container--lg
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container--fluid-right.container--lg
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container.container--sm
    h2 .container.container--sm

    .d-block.bg--primary.text--white
      +text-sample
  br
  br
  br
  .container--fluid-left.container--sm
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container--fluid-right.container--sm
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container.container--xs
    h2 .container.container--xs

    .d-block.bg--primary.text--white
      +text-sample
  br
  br
  br
  .container--fluid-left.container--xs
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container--fluid-right.container--xs
    h2 .container--fluid-right

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container.container--full
    h2 .container.container--full

    .d-block.bg--primary.text--white
      +text-sample
  
  br
  br
  br
  .container.container--full.no-padding
    h2 .container.container--full.no-padding

    .d-block.bg--primary.text--white
      +text-sample
