
extends ../../includes/layout

block vars
  - var pageTitle      = 'Layout - Grid | Demo Static Components';
  - var pageName       = 'layout';
  - var bodyClass      = 'p-layout-grid';
  - var subpath        = true;

block main

  br
  br
  .container.container--md
    h1 Columns
    br
    br

    .row.gap--md
      .col--1
        .d-block.bg--primary.text--white
          span .col--1
      .col--11
        .d-block.bg--primary.text--white
          span .col--11

    br
    .row.gap--md
      .col--2
        .d-block.bg--primary.text--white
          span .col--2
      .col--10
        .d-block.bg--primary.text--white
          span .col--10

    br
    .row.gap--md
      .col--3
        .d-block.bg--primary.text--white
          span .col--3
      .col--9
        .d-block.bg--primary.text--white
          span .col--9

    br
    .row.gap--md
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--md
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--md
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6

  
  br
  br
  br
  .container.container--md
    h1 .gap--xs
    br
    br

    .row.gap--xs
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--xs
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--xs
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
  
  br
  br
  br
  .container.container--md
    h1 .gap--sm
    br
    br

    .row.gap--sm
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--sm
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--sm
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
  
  br
  br
  br
  .container.container--md
    h1 .gap--lg
    br
    br

    .row.gap--lg
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--lg
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--lg
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
  
  br
  br
  br
  .container.container--md
    h1 .gap--xl
    br
    br

    .row.gap--xl
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--xl
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--xl
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
  
  br
  br
  br
  .container.container--md
    h1 .gap--2xl
    br
    br

    .row.gap--2xl
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--2xl
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--2xl
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
  
  br
  br
  br
  .container.container--md
    h1 .gap--3xl
    br
    br

    .row.gap--3xl
      .col--4
        .d-block.bg--primary.text--white
          span .col--4
      .col--8
        .d-block.bg--primary.text--white
          span .col--8

    br
    .row.gap--3xl
      .col--5
        .d-block.bg--primary.text--white
          span .col--5
      .col--7
        .d-block.bg--primary.text--white
          span .col--7

    br
    .row.gap--3xl
      .col--6
        .d-block.bg--primary.text--white
          span .col--6
      .col--6
        .d-block.bg--primary.text--white
          span .col--6

  
