//- 40-layouts/container

.container {
  box-sizing: content-box /* 1 */;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: #{$container-size-md};

  &--lg {
	  max-width: #{$container-size-lg};
  }

  &--sm {
	  max-width: #{$container-size-sm};
  }

  &--xs {
	  max-width: #{$container-size-xs};
  }
}