//- 40-layouts/frame
//-
//- From: https://design-system.w3.org/


/*------------------------------------*\
  #Frame layout primitive

  From https://absolutely.every-layout.dev/layouts/frame/

  `.frame` is most useful for cropping media (images
  and video) to a specific aspect ratio.

  It is not recommended to apply the `.frame` class to the
  <figure> element, as it will interfere with the <figcaption>.
  Instead, place it on <picture> or a <div> inside of <figure>.
\*------------------------------------*/

.frame {
  display: block;
  overflow: hidden;
  position: relative;
}


.frame > * {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


.frame > iframe,
.frame > img,
.frame > video {
  height: 100%;
  width: 100%;
}

.frame > img,
.frame > video {
  object-fit: cover;
}


/* Common aspect ratios */
.frame--16-9 {
  padding-bottom: 56.25%;
}

.frame--3-2 {
  padding-bottom: 66.67%;
}

.frame--4-3 {
  padding-bottom: 75%;
}

.frame--square {
  padding-bottom: 100%;
}