//- 50-components/title/default

.title {
  // Sizing
  &--2xs {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
  &--xs {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 1.2rem;
  }
  &--sm {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
  }
  &--md {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    // < 480px
    @media (max-width: 480px) {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-bottom: 1.75rem;
    }
  }
  &--lg {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    // < 768px
    @media (max-width: 768px) {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    // < 480px
    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
    // < 340px
    @media (max-width: 340px) {
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-bottom: 1.8rem;
    }
  }
  &--xl {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    // < 768px
    @media (max-width: 768px) {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 2.5rem;
    }
    // < 480px
    @media (max-width: 480px) {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    // < 340px
    @media (max-width: 340px) {
      font-size: 1.5rem;
    }
  }
  &--2xl {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3.5rem;
    // < 768px
    @media (max-width: 768px) {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 3rem;
    }
    // < 480px
    @media (max-width: 480px) {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 2.5rem;
    }
    // < 340px
    @media (max-width: 340px) {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
  }
}