//- 50-components/title/style1

.title--style1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;

  .title__deco {
    margin-right: 1em;
    width: 1.9em;
    height: 1.2em;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:after, &:before {
      content: '';
      height: 100%;
      width: 0.8em;
      margin: 0 0.15em;
      transform: skewX(-45deg);
    }

    &:before {
      background-color: #{$color-primary};
    }
    &:after {
      background-color: #{$color-black};
    }
  }
}