
extends ../../src/pug/layouts/simple

block vars
  - var pageTitle      = 'Demo Static Components';
  - var pageName       = 'home';
  - var bodyClass      = 'home';

block main
  main.main 
    h1 Hello World!!!