
$color-primary: #272727;
$font-main: 'Roboto Mono', 'monospace';

body {
  background-color: #ffffff;
  font-family: $font-main;
}

// Main
.d-main {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

// Menu
.d-menu {
  &__trigger {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9;
  }

  &__button {
    border: 0;
    outline: none;
    background-color: $color-primary;
    color: #ffffff;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.4s;

    &:hover {
      opacity: 1;
    }

    img {
      width: 60%;
    }

    &__label {
      width: 0;
      overflow: hidden;
    }
  }

  &__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20rem;
    background-color: $color-primary;
    color: #ffffff;
    z-index: 10;
    opacity: 0;
    transform: translateX(110%);
    transition: all 0.4s;
    overflow: auto;

    &__inner {
      padding: 1.5rem;
    }

    &__main {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
      }
      a {
        font-size: .875rem;
        font-weight: 600;
        display: block;
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 0.1em;
        transition: all 0.4s;
      }

      > ul {
        > li {
          border-bottom: 1px solid #777777;
          > a {
            padding: 1.25rem 0;

            &:hover {
              background-color: #111111;
              padding-left: 1rem;
            }
          }
        }
      }

      .d-menu__subs {
        padding-left: 1rem;
        margin-top: .625rem;

        > li {
          margin-bottom: 1.2rem;
          > a {
            color: #bbbbbb;
            font-size: .75rem;
    
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  &__close {
    margin-bottom: 1rem;
    text-align: right;

    button {
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      img {
        width: 1.25rem;
      }
    }
  }

  // State
  &[data-state="open"] {
    .d-menu__content {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.d-block {
  padding: 2rem;
}