//- 10-tokens/position
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.inset--0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.inset--top {
  top: 0;
  left: 0;
  right: 0;
}
.inset--bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.inset--left {
  top: 0;
  bottom: 0;
  left: 0;
}
.inset--right {
  top: 0;
  bottom: 0;
  right: 0;
}